{% extends "base.html" %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="row pt-3">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Admin</li>
        </ol>
        </nav>
      </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"><a href="{{ url_for('admin-users') }}">Users</a> <span class="badge badge-primary badge-pill">14</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center"><a href="{{ url_for('admin-users') }}">Groups</a> <span class="badge badge-primary badge-pill">3</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center"><a href="{{ url_for('admin-users') }}">Notes</a> <span class="badge badge-primary badge-pill">10</span></li>
        </ul>
      </div>
  </div>
</main>
{% endblock %}
